@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="BlockForregisterPage">
<div class="row">
    <div class="col-md-4">
        <div class="textblockInRaw">
            <p id="AnimatedTextForgotPass"></p>
        </div>
        
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div id="registerSubmitButton">
                <button id="registerSubmit" type="submit" class="bttn-unite bttn-md bttn-success" aria-describedby="tooltip">Reset</button>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
