@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

        <div class="textblockInRaw" style="font-size: 24px;">
            <p id="AnimatedTextForgotPassConf"></p>
        </div>