.BlockForregisterPage{
    display: flex;
    justify-content: center;
}
.form-control{
    border-radius: 15px;
}
.col-md-4{
    background-color: rgba(250, 250, 250, 0.8);
    width: 35rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
}
.form-floating{
    margin: 2rem;
}
.textblockInRaw{
    font-size: 24px;
    text-align: center;
}
#registerSubmitButton{
    display: flex;
    justify-content: center;
}
#registerSubmit{
    width: 20rem;
}

