@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="BlockForregisterPage">
<div class="row">
    <div class="col-md-4">
        <div class="textblockInRaw">
            <p id="AnimatedTextResendEmailConf"></p>
        </div>
        
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div id="registerSubmitButton" aria-label="Maybe you're hacker? ^_^" data-balloon-pos="up">
                <button id="registerSubmit" type="submit" class="bttn-unite bttn-md bttn-success" aria-describedby="tooltip">Resend</button>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
