<footer class="border-top footer text-muted" style="  position: absolute;
                                                      bottom: 0;
                                                      width: 100%;
                                                      height: 4rem;">
    <div class="container">
        <i class="fa-solid fa-copyright"></i> 2022 - Shop
    </div>
</footer>