.col-md-6{
    width: 35rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
}
.form-floating{
    margin: 2rem;
}
#registerSubmitButton{
    display: flex;
    justify-content: center;
}
#registerSubmit{
    width: 30rem;
}
h3{
    text-align: center;
}